/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(../images/pattern.gif) 0 0 repeat-x #fff;
	color:#000;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------main--------------------*/

/*------------------------------------------------body--------------------*/
#body{
	background:url(../images/header.jpg) 0 0 no-repeat;
	width:920px;
	margin:0 auto;
	padding:36px 0 0 0;
}
#body img{
	display:block;
	font-size:0;
	line-height:0;
}
#body p.toptxt{
	font:bold 10px/17px Arial, Helvetica, sans-serif;
	margin:4px 0 41px 0;
	display:block;
}
/*------------------------------------------------left--------------------*/
#left{
	width:207px;
	float:left;
	padding:0;
	margin:0;
}
#left ul.menu{
	width:207px;
	padding:0;
	margin:0;
}
#left ul.menu li{
	float:left;
	display:block;
	padding:0 8px 0 0;
}
#left ul.menu li a.home{
	display:block;
	background:url(../images/home.gif) 0 0 no-repeat;
	width:94px;
	height:131px;
	float:left;
	
}
#left ul.menu li a.home:hover{
	background:url(../images/home_hover.gif) 0 0 no-repeat;
}
#left ul.menu li a.about{
	display:block;
	background:url(../images/about_us.gif) 0 0 no-repeat;
	width:94px;
	height:131px;
	float:left;
	margin:0;
}
#left ul.menu li a.about:hover{
	background:url(../images/about_us_hover.gif) 0 0 no-repeat;
}
#left p.leftTop{
	display:block;
	width:197px;
	background:url(../images/left_top.gif) 0 0 no-repeat;
	height:27px;
	float:left;
	margin:17px 0 0 0;
}
#left p.leftBot{
	display:block;
	width:197px;
	background:url(../images/left_bot.gif) 0 0 no-repeat;
	height:34px;
	float:left;
	margin:0 0 20px 0;
}
#left ul.menu2{
	width:171px;
	background:url(../images/left_link_bg.gif) 0 0 repeat-y;
	padding:0 13px;
	margin:0;
	float:left;
}
#left ul.menu2 li{
	padding:0;
	margin:0;
	height:22px;
	background:url(../images/left_link_div.gif) left bottom repeat-x;
}
#left ul.menu2 li a{
	display:block;
	height:21px;
	background:url(../images/arrow.gif) 6px 7px no-repeat #FFF7D4;
	color:#706222;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-align: left;
	padding:0 0 0 25px;
}
#left ul.menu2 li a:hover{
	background-color:#FFFDF2;
	color:#706222;
}
#left ul.menu2 li.noBdr{
	background-image:none;
}
#left h2.mem{
	display:block;
	background:url(../images/member_login_bg.gif) 0 0 no-repeat;
	width:178px;
	height:33px;
	padding:0 0 0 18px;
	font:normal 18px/33px Georgia, "Times New Roman", Times, serif;
	color:#313131;
	background-color:inherit;
	margin:0 0 14px 0;
	float:left;
}
#left form{
	width:157px;
	padding:0 0 0 20px;
	float:left;
}
#left form input.txtBox{
	width:144px;
	height:19px;
	border-left:#808080 solid 1px;
	border-top:#808080 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-bottom:#D4D0C8 solid 1px;
	float:left;
	margin:0 0 11px 0;
	font-size:10px;
	line-height:19px;
	padding:0 0 0 11px;
}
#left form input.go{
	background:url(../images/btn_go.gif) 0 0 no-repeat;
	width:29px;
	height:15px;
	float:right;
	border:none;
	cursor:pointer;
}
#left a.register{
	display:block;
	background:url(../images/register_bg.gif) 0 0 no-repeat;
	width:148px;
	height:34px;
	padding:0 0 0 49px;
	font:normal 18px/34px Verdana, Arial, Helvetica, sans-serif;
	color:#C13C00;
	background-color:inherit;
	text-decoration:none;
	margin:4px 0 0 0;
	float:right;
}
#left a.register:hover{
	color:#000;
	background-color:inherit;
}
/*------------------------------------------------left--------------------*/

/*------------------------------------------------right--------------------*/
#right{
	width:624px;
	background:url(../images/left_div.gif) left top repeat-y;
	float:right;
	padding:109px 0 4px 48px;
	margin:0 0 20px 0;
}
#right h2.why{
	display:block;
	background:url(../images/3233.jpg) 0 0 no-repeat;
	width:624px;
	height:77px;
	margin:0 0 16px 0;
	text-indent:-2000px;
}
#right p.rightTxt1{
	display:block;
	font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
	padding:0 0 26px 0;
}
/*#right span{
	color:#CD7A00;
	background-color:inherit;
	font-weight:bold;
}*/
#right p.rightTxt2{
	display:block;
	font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
	padding:0 0 36px 0;
}
#right p.rm{
	display:block;
	background:url(../images/read_more_bg.gif) 0 0 no-repeat;
	width:77px;
	height:15px;
	padding:0 0 0 546px;
	margin:0 0 23px 0;
}
#right p.rm a{
	display:block;
	background:url(../images/read_more.gif) 0 0 no-repeat;
	width:77px;
	height:15px;
	margin:0;
	text-indent:-2000px;
	font-size:0;
	line-height:0;
}
#right p.rm a:hover{
	background:url(../images/read_more_hover.gif) 0 0 no-repeat;
}
#update{
	width:260px;
	float:left;
}
#update h2{
	display:block;
	background:url(../images/latest_update.gif) 0 0 no-repeat;
	width:260px;
	height:89px;
	margin:0 0 19px 0;
	text-indent:-2000px;
	float:left;
}
#update p.updateTxt{
	display:block;
	width:259px;
	font-size:11px;
	line-height:18px;
	padding:0;
	float:left;
}
#update p.updateTxt span{
	color:#CD7A00;
	background-color:inherit;
	font-weight:bold;
	text-transform:uppercase;
	display:block;
	margin:0 0 9px 0;
}
#update a.readmore2{
	display:block;
	background:url(../images/read_more.gif) 0 0 no-repeat;
	width:77px;
	height:15px;
	margin:0 0 13px 0;
	text-indent:-2000px;
	font-size:0;
	line-height:0;
	float:right;
}
#update a.readmore2:hover{
	background:url(../images/read_more_hover.gif) 0 0 no-repeat;
}
#service{
	width:322px;
	float:right;
}
#service h2{
	display:block;
	background:url(../images/our_service.gif) 0 0 no-repeat;
	width:322px;
	height:89px;
	margin:0 0 3px 0;
	text-indent:-2000px;
}
#service p.serviceTxt{
	display:block;
	width:286px;
	padding:14px 24px 27px 11px;
	font-size:11px;
	line-height:18px;
	margin:0 0 2px 0;
	background-color:#E8F5FF;
	color:#000;
}
/*------------------------------------------------right--------------------*/

/*------------------------------------------------body--------------------*/

/*------------------------------------------------footer--------------------*/
#footerMain{
	bottom:0px;
	width:50%;
	height:60px;
	border-top:#EEEEEE solid 4px;
	background-color:#FBFBFB;
	color:#000;
	margin-left: 0px;
	bottom: 0px;
	} 

#footer{
	width:776px;
	margin:0 auto;
	height:141px;
}
#footer ul{
	width:776px;
	left:0;
	top:19px;
}
#footer ul li{
	float:left;
	font:bold 11px/22px Arial, Helvetica, sans-serif;
	color:#2C2C2C;
	background-color:inherit;
}
#footer ul li a{
	padding:0 8px;
	font:bold 11px/22px Arial, Helvetica, sans-serif;
	color:#2C2C2C;
	background-color:inherit;
	text-decoration:none;
}
#footer ul li a:hover{
	text-decoration:underline;
}
#footer p.copyright{
	font:normal 11px/22px Arial, Helvetica, sans-serif;
	margin-left:142px;
	top:40px;
	width:400px;
	color:#970000;
	background-color:inherit;
}
#footer a.xhtml{
	display:block;
	background:url(../images/xhtml_bg.gif) 0 0 no-repeat;
	width:98px;
	height:21px;
	left:267px;
	top:70px;
}
#footer a.xhtml:hover{
	background:url(../images/xhtml_bg_hover.gif) 0 0 no-repeat;
}
#footer a.css{
	display:block;
	background:url(../images/css_bg.gif) 0 0 no-repeat;
	width:98px;
	height:21px;
	left:373px;
	top:70px;
}
#footer a.css:hover{
	background:url(../images/css_bg_hover.gif) 0 0 no-repeat;
}
.contactsubmit {
	font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	background-attachment: scroll;
	background-image: url(../images/read_more_bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 76%;
	clip: rect(500px,500px,auto,auto);
	top: 500px;
	right: 500px;
	bottom: 500px;
	left: 500px;
	float: left;
	margin: 5px;
	padding: 5px;
}
.contactformfield {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 85%;
}


.contactformmessage {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 90%;
	float: none;
	margin: 3px;
	padding: 3px;
}
.contactbox {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 18px;
}
.commentslabel {
	font-family: Verdana;
	font-size: 12px;
	color: #003366;
	float: left;
	height: 170px;
	width: 105px;
	margin: 3px;
	font-weight: bold;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}

.contactmessagebox {

	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 170px;
}
.contacttextarea {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	height: 570px;
	width: 620px;
	background-image: url(../images/contactbg.gif);
}
.contactindicate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 3px;
	height: 20px;
	width: 570px;
	padding-top: 15px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}

.submitarea {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	float: left;
	width: 600px;
}
.submitbutton {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	background-attachment: scroll;
	background-image: url(../images/pattern.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #0099FF;
	height: 25px;
}


.contacttext {
	margin: 3px;
	height: 18px;
	width: 110px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #003366;
	font-weight: bold;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}
.contacterrortext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 10px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
/*------------------------------------------------Contact--------------------*/

.linkpopup {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #666600;
	height: 18px;
	width: 250px;
}

.linkpopup span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopup:link span,
.linkpopup:visited span {
 visibility: hidden;
}

.linkpopup:hover span,
.linkpopup:focus span,
.linkpopup:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.linkpopupmessagebox {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 170px;
	width: 350px;
}

.linkpopupmessagebox span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupmessagebox:link span,
.linkpopupmessagebox:visited span {
 visibility: hidden;
}

.linkpopupmessagebox:hover span,
.linkpopupmessagebox:focus span,
.linkpopupmessagebox:active span {
 color: #000;
 text-decoration: none;
 visibility: visible;
}


/*------------------------------------------------Email--------------------*/

.linkpopupemail {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 18px;
	width: 200px;
}

.linkpopupemail span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupemail:link span,
.linkpopupemail:visited span {
 visibility: hidden;
}

.linkpopupemail:hover span,
.linkpopupemail:focus span,
.linkpopupemail:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
/*------------------------------------------------Email--------------------*/
.contactcommenttext {

	margin: 3px;
	padding: 3px;
	height: 170px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #666600;
}
.head {
	font-family: Verdana;
	font-size: 16px;
	color: #27817D;
	width: 560px;
	font-weight: bold;
	margin: 3px;
	padding: 3px;
}
.bodytextarea {
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	float: left;
	width: 560px;
	margin: 3px;
	padding: 3px;
}
.errortext {
	font-family: Verdana;
	font-size: 11px;
	color: #FF0000;
}

.body1text {

	font-family: Verdana;
	font-size: 16px;
	color: #27817D;
	width: 560px;
	font-weight: bold;
	margin: 3px;
	padding: 3px;
}
.submittextarea {

	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	float: left;
	width: 560px;
	margin: 3px;
	padding: 3px;
}
/*------------------------------------------------Textboxon Email--------------------*/

.borderEffect
{
background-color:#FFFFCC;
color:#7A8639;
margin:0px;
padding:0px;
border:1px solid #FFCC00;
}
.borderEffect:hover
{
background-color:#FFCC89;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #A05A3D;
}
/*------------------------------------------------Textbox on Email--------------------*/
/*------------------------------------------------Textbox --------------------*/

.textboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 18px;
	width: 250px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.textboxEffect:hover
{
background-color:#FFFFFF;
color:#003366;
margin:0px;
padding:0px;
border:1px solid #003366;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textbox --------------------*/
/*------------------------------------------------Textboxdropdown --------------------*/

.dropdownEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 18px;
	width: 265px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.dropdownEffect:hover
{
background-color:#FFFFFF;
color:#003366;
margin:0px;
padding:0px;
border:1px solid #003366;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textboxdropdown --------------------*/
/*------------------------------------------------Massagebox --------------------*/

.MassageboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #999999;
	height: 170px;
	width: 350px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.MassageboxEffect:hover
{
background-color:#FFFFFF;
color:#003366;
margin:0px;
padding:0px;
border:1px solid #003366;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Massagebox --------------------*/
#contact p.contactTxt {
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	display:block;
	width:620px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}
#right h2.contact {
	display:block;
	width:624px;
	height:77px;
	margin:0 0 16px 0;
	text-indent:-2000px;
	background-image: url(../images/contacthead.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.contactformtext {
	margin: 3px;
	height: 20px;
	width: 400px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #003366;
	font-weight: normal;
	padding: 3px;
}
.contactformmsgtxt {
	margin: 3px;
	height: 170px;
	width: 400px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #003366;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.contactdropdownformfield {

	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 75%;
}



body {
    font: 12px/1.5 tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table-head-mod__table___3CnjL th {
    padding-top: 5px;
    padding-bottom: 5px;
}
.bought-table-mod__table___279Jf th {
    font-weight: 500;
    font-size: 1.1em;
    font: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}

.table-head-mod__status___2mXZ8 {
    width: 100%;
    border: none;
}
.rc-select {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: #666;
}

.table-head-mod__table___3CnjL {
    margin: 10px 0;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.bought-table-mod__table___279Jf {
    width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    color: #3c3c3c;
    table-layout: fixed;
}

.index-mod__order-container___1ur4- {
    margin: 10px 0;
}
#right{
	margin-top: -100px;
}

#xiaoomi{
	    margin: 10px 0;
	        border: 1px solid #ececec;
	            display: block;
	                width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #3c3c3c;
    table-layout: fixed;
}
#sfds{
	background: #f1f1f1;
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    color: #3c3c3c;
}

#yiyuan_content {
    width: 998px;
    margin: 0 auto;
    overflow: hidden;
    float: left;
}
.yiyuan_content_1 {
    width: 500px;
    height: 166px;
    padding-top: 0px;
    border-bottom: 1px solid #f4f6fa;
    float: left;
}
.yiyuan_co_dl, .yiyuan_co_dt, .yiyuan_co_dd {
    float: left;
}
.yiyuan_co_dl {
    width:  480px;
    overflow: hidden;
}

.yi_c_span_w {
    display: table;
    width: 105px;
    height: 158px;
    float: left;
    margin-left: -200px;
}

.yiyuan_co_dt {
    width: 180px;
    height: 130px;
    margin-left: 13px;
    padding-top: 14px;
}

.yiyuan_co_dd {
    width: 270px;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 20px;
        font-size: 15px;
        margin-left: -55px;
}

a:link, a:visited {
    text-decoration: none;
}

.yiyuan_co_dt img {
    width: 130px;
    height: 110px;
}

.yiyuan_co_dd .yiyuan_co_titl {
    padding-bottom: 0px;
}

.yiyuan_co_dd_div {
    overflow: hidden;
    margin-top: 15px;
    margin-left: -20px;
}


.yiyuan_co_dd p a {
    color: #000;
    font-size: 15px;
    padding-right: 12px;
}

.yiyuan_co_ddsp {
    padding: 0 2px;
    color: #f7b52c;
    font-size: 12px;
}


.yiyuan_co_dd_div p {
    margin-bottom: 8px;
    margin-bottom: 4px;
    line-height: 17px;
}

.yiyuan_telico2 {
    background-position: 0 -36px;
}

.yiyuan_co_dd_div p {
    margin-bottom: 8px;
    margin-bottom: 4px;
    line-height: 17px;
    text-align: left;
}

.yi_c_span {
    display: table-cell;
   display: inline-block;
    width: 105px;
    height: 92px;
    margin-top: 40px;
    vertical-align: middle;
}

.yi_c_span_w {
    display: table;
    width: 105px;
    height: 158px;
    float: left;
}

a:link, a:visited {
    text-decoration: none;
}
.yiyuan_co_xzyy {
    width: 105px;
    height: 37px;
    font-size: 1px;
    display: block;
    background: url(../images/yuyue.png) 0 0 no-repeat;
    margin-top: 20px;
}


.yiyuan_telico, .yiyuan_telico1, .yiyuan_telico2, .yiyuan_telico3 {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../images/sdfs.png) no-repeat;
    /*background: src(../images/tel_ie.png) no-repeat;*/
    vertical-align: bottom;
    padding-right: 5px;
    font-size: 1px;
    float: left;
}

ul{
	list-style-type:none;
}

#yiyuanjia{
	width: 400px;
}

.col-sm-7 {
    width: 58.33333333%;

}
.thumb-lg {
    display: inline-block;
    width: 96px;
}
.m-r {
    margin-right: 15px;
}

.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img, .thumb-btn img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.m-b {
    margin-bottom: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
}

.m-l {
    margin-left: 15px;
}

.btn-rounded {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50px;
}

.btn-icon.btn-sm {
    width: 30px;
    height: 30px;
}

.btn-icon.btn-sm i {
    line-height: 30px;
}
lg img, .thumb-btn img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.m-b {
    margin-bottom: 15px;
}

.m-t-sm {
    margin-top: 10px;
}
 .h3{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
        font-size: 24px;
}

.col-sm-7 a{
	display: inline-block;
	height: 120px;
}
#sdfsdf{
	float: left;
	display: inline-block;
}
.clear{
	padding-top: 20px;
}
#hahaha{

}
#uuuu{
	margin-left: -10px;
}

.ddd{
	font: bold 1em;
}

.bought-table-mod__col3___3DK6P{
	width: 80px;
	 font-size: 0.85em;
}
.were {
	height: 40px;
   text-align: center;
    width: 60px;
    font-size: 0.85em;
    font-weight: 400;
    background: #867979;
    background: #F0F0F0;
    border-top: 2px solid #ccc;
    border-radius: 2px 5px 5px 5px;
    margin-bottom: 10px;
}
.were:hover{
	background: #867979;
}

.were:click{
	background: red;
}
.xixix{
	margin-left: 15px;
}
.top_left h2{
	font-size: 15px;
}
.top_left{
	text-align: center;
	background-color:  #f5f5f5;
}
.top_left img{
	margin-left: 60px;
}
#LoginBox {
    position: absolute;
    left: 460px;
    top: 150px;
    background: white;
    width: 426px;
    height: 282px;
    border: 3px solid #444;
    border-radius: 7px;
    z-index: 10000;
    display: none;
}
.row button {
    border-top: 2px solid #ccc;
    text-align: right;
    width: 60;
    height: 40;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    margin-top: 20;
    margin-left: 30;
}
#LoginBox  form {
    margin-bottom: 1em;
    display: block;
    margin-top: 0em;
}

.row1 {
    background: #f7f7f7;
    padding: 0px 20px;
    line-height: 50px;
    height: 50px;
    font-weight: bold;
    color: #666;
    font-size: 20px;
}

.close_btn {
    font-family: arial;
    font-size: 30px;
    font-weight: 700;
    color: #999;
    text-decoration: none;
    float: right;
    padding-right: 4px;
}
.row {
    height: 77px;
    line-height: 77px;
    font-size: 20px;
    padding: 0px 20px;
}

.inputBox {
    border: 1px solid #c3c3c3;
    padding: 1px 3px 6px 3px;
    border-radius: 5px;
    margin-left: 5px;
}

.warning {
    float: right;
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    display: none;
}
label {
    cursor: default;
}

.row textarea {
    font-size: 0.65em;
    font-weight: 238;
    columns: 20;
    height: 60;
    vertical-align: middle;
}

#password button, .row button {
    border-top: 2px solid #ccc;
    text-align: right;
    width: 60;
    height: 40;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    margin-top: 20;
    margin-left: 30;
}
#div button:hover, .row button {
    background: #0072bc;
    border-bottom: 5px solid #1D92DD;
    transition: 0.5s all;
}